################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Backend/Domain/bin/Debug/netstandard2.0/Domain.pdb
