<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="GetName">Name:</span>
        <input  type="text" class="form-control inputGetName" placeholder="" aria-label="Id" aria-describedby="GetName">
    </div>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="GetDescription">Description:</span>
    </div>
    <input type="text" class="form-control inputGetDescription" placeholder="" aria-label="Id" aria-describedby="GetDescription">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="GetCoverage">Coverage:</span>
    </div>
    <input type="text" class="form-control inputGetCoverage" placeholder="" aria-label="Id" aria-describedby="GetCoverage">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="GetEffectiveDate">Effective Date:</span>
    </div>
    <input type="date" class="form-control inputGetEffectiveDate" placeholder="" aria-label="Id" aria-describedby="GetEffectiveDate">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="GetCoveragePeriod">CoveragePeriod:</span>
    </div>
    <input type="text" class="form-control inputGetCoveragePeriod" placeholder="" aria-label="Id" aria-describedby="GetCoveragePeriod">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="GetPrice">Price:</span>
    </div>
    <input type="text" class="form-control inputGetPrice" placeholder="" aria-label="Id" aria-describedby="GetPrice">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text GetRisktype">Risk type:</span>
    </div>
    <select class="inputGetRisktype">
        <option value="0">Low</option>
        <option value="1">Medium</option>
        <option value="2">Medium-High</option>
        <option value="3">High</option>
    </select>
</div>
