@{
    ViewBag.Title = "Assign Policy";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="~/bundles/site" type="text/javascript"></script>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to assign policies.</p>

<script type="text/javascript">
    $(document).ready(function () {

        GetPolicies();
        GetCustomers();

        LoginIn();
    });
</script>

<div class="container">
    <h2>Policies</h2>
    @Html.Partial("_policyTable")

    <br>
    <br>

    <h2>Customers</h2>
    <table id="customerTable" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-6" style="text-align:center;">
        <h2>Assign Policy</h2>

        <input id="assignPolicy" type="button" value="Create" onclick="AssignPolicy();">
    </div>
    <div class="col-md-6" style="text-align:center;">
        <h2>Deallocate policy</h2>
        <input id="deallocatePolicy" type="button" value="Deallocate" onclick="DeallocatePolicy();">
    </div>
</div>