@{
    ViewBag.Title = "Assign Policy";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="~/bundles/site" type="text/javascript"></script>

<h2>@ViewBag.Title.</h2>
<p>Use this area to assign policies.</p>

<script type="text/javascript">
    $(document).ready(function () {

        GetPolicies("assign");
        GetAssignedPolicies();
        //LoginIn();



        $("#assignPolicy").click(function () {
            var policyId = $("#assignModal").find(".inputToAssign").val();
            var customerId = $("#assignModal").find(".inputGeCustomerId").children("option:selected").val(); 
            CreateAssignedPolicy(customerId, policyId);
        });


        $("#deallocatePolicy").click(function ()
        {
            var id = $("#deallocateModal").find(".inputGetId").val();
            DeallocatePolicy(id);
        });
    });
</script>

<div class="container">
    @Html.Partial("_policyTable")
    <div id="APIDomain" style="display:none;">@ViewBag.APIDomain </div>
    <br>
    <br>

    <h2>Assigned policies</h2>
    <table id="assignedPoliciesTable" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Policy Id</th>
                <th>Policy Name</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Assign Modal -->
<div class="modal fade" id="assignModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">

                <input type="text" class="form-control inputToAssign" placeholder="" aria-label="Id" aria-describedby="Assign" style="display:none;">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="GetCustomerid">Select customer:</span>
                    </div>
                    <select class="inputGeCustomerId"></select>
                </div>

            </div>
            <div class="modal-footer">
                <button id="assignPolicy" class="btn btn-default" type="button">Assign</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deallocateModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="GetId">Are you sure to delete this assigned policy?</span>
                    </div>
                    <input type="text" class="form-control inputGetId" placeholder="" aria-label="Id" aria-describedby="GetId" style="display:none;">
                </div>

            </div>
            <div class="modal-footer">
                <button id="deallocatePolicy" class="btn btn-default" type="button">Deallocate</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>