@{
    ViewBag.Title = "Home Page";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="~/bundles/site" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        GetPolicies("home");
       
        $("#createPolicy").click(function () {
            var createModal = $("#createModal");

           if(validateFields(createModal))
            {
                 CreatePolicy(createModal);
            }           
        });
     
        $("#editPolicy").click(function ()
        {
            var updateModal = $("#updateModal");
            
            if(validateFields(updateModal))
            {
                UpdatePolicy(updateModal);
            }  
        });

        $("#deletePolicy").click(function ()
        {
            var idToRemove = $("#DeleteModal").find(".inputGetId").val();
            DeletePolicy(idToRemove);
        });
    });

    function validateFields(modal)
    {
        // Validates input coverage must be ]0, 100].
            var Coverage = modal.find(".inputGetCoverage").val();
            var CoveragePeriod = modal.find(".inputGetCoveragePeriod").val();
            var Price = modal.find(".inputGetPrice").val();
            if (Coverage <= 0 || Coverage > 100 )
            {
                alert("Coverage must be between 1 and 100");
                return false;
            }
            else if (CoveragePeriod <= 0 )
            {
                alert("Coverage Period must be greather than 0");
                return false;
            }
            else if (Price <= 0 )
            {
                alert("Price must be greather than 0");
                return false;
            }

        return true;
    }

</script>
    <div class="container">
        @Html.Partial("_policyTable")
    </div>

    <div id="APIDomain" style="display:none;">@ViewBag.APIDomain </div>

    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <h2>Create Policy</h2>
            <button id="openCreatePolicyModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createModal">Create</button>
        </div>
    </div>

    <div class="container">
        <!-- Create Modal -->
        <div class="modal fade" id="createModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create</h4>
                    </div>
                    <div class="modal-body">

                        @Html.Partial("_policyModalBody")

                    </div>
                    <div class="modal-footer">
                        <button id="createPolicy" class="btn btn-default" type="button">Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- update Modal -->
        <div class="modal fade" id="updateModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3" style="display:none;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="GetId">Id:</span>
                                <input type="text" class="form-control inputGetId" placeholder="" aria-label="Id" aria-describedby="GetId">
                            </div>
                        </div>
                        @Html.Partial("_policyModalBody")
                    </div>
                    <div class="modal-footer">
                        <button id="editPolicy" class="btn btn-default" type="button">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Delete Modal -->
        <div class="modal fade" id="DeleteModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="GetId">Are you sure to delete this policy?</span>
                            </div>
                            <input type="text" class="form-control inputGetId" placeholder="" aria-label="Id" aria-describedby="GetId"  style="display:none;">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button id="deletePolicy" class="btn btn-default" type="button">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
